body {
  font-family: "Arial", sans-serif;
  margin: 0;
}

.container-fluid {

  margin-top: 10px;
}

.toolbox {
  /* position: fixed; */
  border: 1px solid #ddd;
  padding: 0px 30px 0px 20px;
  /* overflow-y: scroll; */
}

.toolbox-item {
  margin-bottom: 8px;
  cursor: move;
}

.designer {
  flex: 1;
  border: 5px dashed #8c8888;
  padding: 10px;
  position: relative;
  min-height: 100vh;
}

.props {
  position: absolute;
}

.json-schema {
  width: 200px;
  border: 1px solid #ddd;
  padding: 10px;
}
.container {
  margin-top: 20px;
}


.properties {
  margin-top: 20px;
}

.show-hover :hover {
  border: 2px solid rgb(42, 212, 42);
}

/* ----------------------- */

.widgets_div {
  border-bottom: thin #edf1f2 solid;
  padding: 15px 0;
  cursor: grab;
}

.widgets_div .icon_div {
  display: inline-block;
  margin-left: 15px;
  vertical-align: middle;
  font-size: xx-large;
}

.widgets_div .icon_div span i {
  font-size: 24px;
}

.widgets_div .text_div {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}

.widgets_div .text_div span {
  color: #212423;
  font-size: 20px;
}

.widgets_div .text_div span + br + span {
  color: #747f85;
  font-size: 12px;
}
/*-----*/
.highlight-dragover {
    background-color: #cfffed; /* Highlight color when a control is dragged over */
}
